$primary:			darken(#30a5ff, 25%) !default;
$success:			darken(#8ad919, 10%) !default;
$warning:			darken(#ffb53e, 5%) !default;
$danger:			darken(#f9243f, 5%) !default;
$default:			#e9ecf2 !default;
$info:				#03A9F4 !default;

$white:				#ffffff !default;
$teal:				#1ebfae !default;

$dark-blue:			#1b3548 !default;
$medium-blue:		#285e8e !default;

$dark-gray:			#5f6468 !default;
$medium-gray:		#999999 !default;
$light-gray:		#f1f4f7 !default;