$fa-font-path: "../fonts/font-awesome";
$font-family-sans-serif:  Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;


$primary:			$indigo !default;

$bg-default:		$lightbg-text !default;
$bg-primary:		$indigo !default;
$bg-success:		$success !default;
$bg-warning:		$warning !default;
$bg-danger:			$danger !default;

$white:				#ffffff !default;
$teal:				$teal !default;

$dark-blue:			$indigo !default;
$medium-blue:		$bluegrey !default;

$dark-gray:			#5f6468 !default;
$medium-gray:		#999999 !default;
$light-gray:		#f1f4f7 !default;